# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
[Bb]uild/
[Dd]ebug/
[Rr]elease/
x64/
x86/

# NuGet
*.nupkg
*.snupkg
*.nuspec
*.psmdcp
packages/
project.lock.json

# Logs
*.log

# Others
*.dll
*.exe
